.input-container input {
  width: 100%;
  border: 1px solid #000000;
  background-color: #ffffff;
  padding: 2rem;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: right;
  letter-spacing: 0.5rem;
}

.input-container input:focus {
  outline: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  border: 1px solid #85ffff;
  background-color: #ffffff;
  padding: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.operator {
  background-color: #75fda0;
  color: #ffffff;
}
